@import './common/mixin.scss';

@include declare(toast) {
    position: fixed;
    display: inline-block;
    top: 10px;
    cursor: default;
    left: 50%;
    transition: all .3s;
    transform: translateX(-50%);
    min-width: 350px;
    min-height: 45px;
    line-height: 45px;
    text-align: left;
    font-size: 16px;
    border-radius: 10px;
    .#{$namespace}-toast__content{
        @include flexStart();
        margin-right: 30px;
    }
    .#{$namespace}-toast__content_image{
        margin-left: 16px;
    }
    .#{$namespace}-toast__content_font{
        margin-left: 16px;
    }
    //动画
    @at-root {
        .#{$namespace}-toast-fadein-enter,
        .#{$namespace}-toast-fadein-leave-active {
            opacity: 0;
            transform: translate(-50%, -100%);
        }
    };
}
// 不同的types
@include defineToastTypes('fa-toast--');