@keyframes bling {
    0% {
      left: 0;
    }
  
    100% {
      left: 200%;
    }
  }

  @keyframes rotating {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  }