// 颜色的类型
// 主色调
$--color-success:#00bf0d !default;
$--color-primary:#007eff !default;
$--color-warning:#FF9600 !default;
$--color-danger: #ff0024 !default;
$--color-disabled: #C0C4CC !default;
//toast 背景色
$--color-toast-bg-success:#f7fef8 !default;
$--color-toast-bg-primary:#f4f7fc !default;
$--color-toast-bg-warning:#fffcf7 !default;
$--color-toast-bg-danger: #fff7f8 !default;


// 定义button三种大小的字体 padding 
$--size-large: 16px;
$--size-medium: 14px;
$--size-small: 12px;
$--padding-large:10px 18px;
$--padding-medium:9px 16px;
$--padding-small:8px 14px;
// 四种type的背景渐变色
$--button-primary-bg-color:linear-gradient(to bottom, #74b9ff 0%,#48a2ff 30%, #007eff 100%);
$--button-success-bg-color:linear-gradient(to bottom, #85f38c 0%,#61d568 30%, #00bf0d 100%);
$--button-warning-bg-color:linear-gradient(to bottom, #fdd49a 0%,#fdc26d 30%, #ff9600 100%);
$--button-danger-bg-color:linear-gradient(to bottom, #fd90a0 0%,#fd6177 30%, #ff0024 100%);
// 四种type的背景图片地址 白底的
$--bg-primary-w-image:url('https://imgkr.cn-bj.ufileos.com/68678351-bae2-4ece-80af-4b4752fa9dfa.png');
$--bg-success-w-image:url('https://imgkr.cn-bj.ufileos.com/98600adf-fe38-4df8-8a95-64517badad25.png');
$--bg-warning-w-image:url('https://imgkr.cn-bj.ufileos.com/7106d015-42d2-4d6c-bfe2-bcfa92e7abc2.png');
$--bg-danger-w-image:url('https://imgkr.cn-bj.ufileos.com/c702a0f7-4870-450c-bbc3-3e5c31599796.png');
// 四种type 在plain 样式下的 背景图
$--bg-primary-image:url('https://imgkr.cn-bj.ufileos.com/3e14bd15-3aeb-40b1-b01f-71dc51ccc0ff.png');
$--bg-success-image:url('https://imgkr.cn-bj.ufileos.com/b7415136-8394-423b-a3ea-2885a89cfb96.png');
$--bg-warning-image:url('https://imgkr.cn-bj.ufileos.com/8f3e5270-d4ca-4645-9f2a-3649f884779a.png');
$--bg-danger-image:url('https://imgkr.cn-bj.ufileos.com/1776124d-2238-43a7-8928-3d6c9e59ab17.png');
// 四种type 在plain 样式下的 文字颜色 和 主色调一样


