// 颜色的类型
// 主色调
$--color-normal:#ceab70 !default;
$--color-success:#5fb09c !default;
$--color-primary:#4f9bdb !default;
$--color-warning:#FFB90F !default;
$--color-danger: #e05e5e !default;
$--color-disabled: #C0C4CC !default;
// 定义三种大小的字体
$--size-big: 16px;
$--size-nomal: 15px;
$--size-small: 14px;
